/*div.logo  {

		position :fixed;/**change*/
		left     :200px;
		top      :10px;
		width    :290px;
		height   :125px;
		overflow :hidden;
		/*background-image :url(images/mainlogo.png);

	h1{
		text-indent      :1000px;
		white-space      :nowrap;
	}
}
*/
a{
	text-decoration:none; 
	font-family : Verdana, Geneva, sans-serif;
}

p{
	text-align : right;
}
/************************************ MAIN MENU ***********************************/
header{
	//height: 65px;
	text-align: center;
	//line-height: 30px;
	z-index: 5;
	position: relative;

	div.logo	{
			overflow :hidden;
			width:180px;
			min-height:90px;
			background :url(images/product/acer_logo_green.png) no-repeat center center;
		h1{
			text-indent:1000px;
			white-space:nowrap;
		}
	}
	div.main{
		//background :url(images/product/menu_background.png) no-repeat right center;
		//padding-bottom:165px; 
		nav { 
			//background:url(images/product/menu_background.png) no-repeat center center; 
			position:absolute; 
			top:0; 
			right:0;

			ul {
				list-style-type: none;
				position:absolute; 
				top:30px; 
				left:450px;
				-webkit-transition:all 300ms;
				-moz-transition:all 300ms;
				-o-transition:all 300ms;
				-ms-transition:all 300ms;
				transition:all 300ms;



				li {
					float:right;
					position:relative;
					background:url(images/product/menu_separetor.png) no-repeat center left; 
					padding-top:0px;
					padding-bottom:2px;
					-webkit-transition:all 300ms;
					-moz-transition:all 300ms;
					-o-transition:all 300ms;
					-ms-transition:all 300ms;
					transition:all 300ms;



					&:hover {
						ul {
							display:block;
							opacity:1;
						}	
					}

					a {
						display:block;
						font-size:14px;
						color:#fff;
						text-decoration:none;
						padding:10px 40px 10px 15px;
						text-align:right;
						font-weight:bold;
						//text-transform:capitalize;

						&:hover{
							color:#6DC01C;
							-webkit-transition:300ms;
							-moz-transition:all 300ms;
							-o-transition:all 300ms;
							-ms-transition:all 300ms;
							transition:all 300ms;
						}
					}

					

					ul {
						opacity:0;
						//-webkit-transition: opacity .25s ease .1s;
						min-width:100%;
						display:none;
						position:absolute;
						top:35px;
						left:-15px;
						background:url(images/product/submenu_repeaty.png) repeat-y center center; 
						border-radius:0 0 10px 10px;
						border:1px solid #555;
						border-top:none;
						-webkit-box-shadow:1px 1px 10px #444 inset;
						-moz-box-shadow:1px 1px 10px #444 inset;
						-o-box-shadow:1px 1px 10px #444 inset;
						-ms-box-shadow:1px 1px 10px #444 inset;
						box-shadow:1px 1px 10px #444 inset;


						li {
							height: 0;
							overflow: hidden;
							padding: 0;
							-webkit-transition: height 100ms;
							-moz-transition: height 100ms;
							-o-transition: height 100ms;
							-ms-transition: height 100ms;
							transition: height 100ms;
							padding-bottom:0px;
							float:none;
							text-align:right;
							margin-top:0;
							background:none;


							a {
							padding:15px 20px 5px 30px;
							border-left:none;
							height:30px;
							white-space: nowrap;
							outline:1px solid red;
							}
						}
					}

				}

			}
		}
	}	
}

/*********************************** ATRIBUTE NOT FOUND PAGE **************************/
body.not-found{

	background-color : #000;
	
	header{
	
		background-image    : url('images/not-found/Top.jpg');
		background-repeat   : no-repeat;
		background-position : center center;
		
	}
	section.container{
	
		margin : 0 auto;
		color  : #ccc;
		.message{
		
			background-image    : url('images/not-found/page_not_found.jpg');
			background-repeat   : no-repeat;
			background-position : center center;
			
			position:relative;
			
			.txt{
			
				position : absolute;
				top      : 250px;
				
				p{
  					
					/*text-align : right;*/
					
					a{
					
					  color : #06dc1c;
					}
				}		
			}
		}	
		
		.copy{
			text-align : center;
		}
	}
}
/*********************************** ATTRIBUTE HOME PAGE ******************************/
section.slideshow{

	section.backimg{
		div.slideshow {
			position :fixed;
			top      :0;
			left     :0;
			right    :0;
			bottom   :0;
			z-index  :-2;

			background-position :center center;
			background-repeat   :no-repeat;
			background-size     :cover;
			
		}
		
	}
}
/********************************** ATTRIBUTE CONTENT-NAME-PRODUCT ***********************/
body.name-product{

	background-image  : url('images/gallery/2.jpg');
	background-repeat : no-repeat;
	background-size   : cover;

		div.content-name-product{
		
			background-color : #fff;

			menu{
				
				border-top    : 1px solid #d6d6d6;
				border-bottom : 1px solid #d6d6d6;
				
				ul{
					
					li{

						float    : right;
						padding	 : 15px 0;


						&:hover{
							background-image    : url('images/name-product/li-hover.png');
							background-repeat   : no-repeat;
							background-position : bottom center;
						}	
						
						a{
							dispaly     : block;
							padding     : 10px 15px;
							color       : #aaa;
							
							&:hover{
								color   : #666;
							}
						}
				  	}
				}
			}
			
			section.light-box-name-product{
				p{
					
				}	
			}
			
			section.slide-name-product{
			
				border-top    : 1px solid #d6d6d6;
				border-bottom : 1px solid #d6d6d6;
			}
		}
}

/* footer 
-------------------------- */
footer{
	//position:fixed;
	//bottom: -120px;
	z-index:-1;

	section.footer-box {
			background:url(images/product/green_bar_repeatx.png) repeat-x;
			border-radius: 5px;
		div.left-pic {
			background:url(images/product/green_bar_sx.png) no-repeat 0 0 !important;
			width: 5px;
			height:20px;
		}

		div.language {
				background:url(images/product/language_button_repeatx.png) repeat-x 0 0;
				border-radius: 5px;
				height:20px;
				width:100px;

			span.language-icon {
				background:url(images/product/language_button_sx.png) no-repeat 0 0;
				width: 25px;
				height:20px;
			}

			span.next-icon{
				background:url(images/product/language_button_dx.png) no-repeat 0 0;
				height:20px;
			}

			a {
				display:block;
				color:#fff;
				height:20px;
				line-height:20px;
				text-align:center;
				font-size:12px;
				text-decoration:none;
			}
		}

		div.right-pic {
			background:url(images/product/green_bar_dx.png) no-repeat 0 0 !important; 
			width: 5px;
			height:20px;
		}	

		div.facebook {
			background:url(images/product/Facebook_icon.png) no-repeat center center;
			width: 16px;
			height:20px;
		}

		div.footer-menu {
			padding-right:230px;  //???????? 
			margin:auto;
			nav {
				ul {
						list-style-type: none;
						direction:rtl;
					li {
						float:right;
						background:url(images/product/menu_separetor.png) no-repeat center right; 
					&:first-child{
						background:none; 
					}

						a {
							
							font-size:11px;
							color:#fff;
							text-decoration:none;
							padding:0px 12px;
							line-height:20px;
						}
					}
				}
			}
		}
	}

	div.copyright{

			display: block;
			color:#06dc1c;
			font-size:11px;
			text-decoration: none;
			text-align: center;
			line-height:20px;
		
	}
}



