div.logo  {
		position :fixed;
		right    :0;
		bottom   :50px;
		width    :290px;
		height   :165px;
		overflow :hidden;
	
		/*background-image :url(images/mainlogo.png);*/

	h1{
		text-indent      :1000px;
		white-space      :nowrap;
	}
}

section.slideshow{

	section.backimg{
		div.slideshow {
			position :fixed;
			top      :0;
			left     :0;
			right    :0;
			bottom   :0;
			z-index  :-2;

			background-position :center center;
			background-repeat   :no-repeat;
			background-size     :cover;
		}
	}
}


		