/*body{
	background : #f4f4f4;
}
*/
div.logo  {

		position :fixed;/**change*/
		left     :200px;
		top      :10px;
		width    :290px;
		height   :125px;
		overflow :hidden;
		/*background-image :url(images/mainlogo.png);*/

	h1{
		text-indent      :1000px;
		white-space      :nowrap;
	}
}

a{
	text-decoration:none; 
	font-family : Verdana, Geneva, sans-serif;
}

p{
	text-align : right;
}
/*********************************** ATRIBUTE NOT FOUND PAGE **************************/
body.not-found{

	background-color : #000;
	
	header{
	
		background-image    : url('images/not-found/Top.jpg');
		background-repeat   : no-repeat;
		background-position : center center;
		
	}
	section.container{
	
		margin : 0 auto;
		color  : #ccc;
		.message{
		
			background-image    : url('images/not-found/page_not_found.jpg');
			background-repeat   : no-repeat;
			background-position : center center;
			
			position:relative;
			
			.txt{
			
				position : absolute;
				top      : 250px;
				
				p{
  					
					/*text-align : right;*/
					
					a{
					
					  color : #06dc1c;
					}
				}		
			}
		}	
		
		.copy{
			text-align : center;
		}
	}
}
/*********************************** ATTRIBUTE HOME PAGE ******************************/
section.slideshow{

	section.backimg{
		div.slideshow {
			position :fixed;
			top      :0;
			left     :0;
			right    :0;
			bottom   :0;
			z-index  :-2;

			background-position :center center;
			background-repeat   :no-repeat;
			background-size     :cover;
		}
	}
}

/********************************** ATTRIBUTE CONTENT-NAME-PRODUCT ***********************/
body.name-product{

	background-image  : url('images/gallery/2.jpg');
	background-repeat : no-repeat;
	background-size   : cover;

		section.content-name-product{

			background-color : #fff;

			menu{
				
				border-top    : 1px solid #d6d6d6;
				border-bottom : 1px solid #d6d6d6;
				
				ul{
					
					li{

						float    : right;
						padding	 : 15px 0;


						&:hover{
							background-image    : url('images/name-product/li-hover.png');
							background-repeat   : no-repeat;
							background-position : bottom center;
						}	
						
						a{
							dispaly     : block;
							padding     : 10px 15px;
							color       : #aaa;
							
							&:hover{
								color   : #666;
							}
						}
				  	}
				}
			}
			
			section.light-box-name-product{
				p{
					
				}	
			}
			
			section.slide-name-product{
			
				border-top    : 1px solid #d6d6d6;
				border-bottom : 1px solid #d6d6d6;
			}
		}
}

