/* Guide
-------------------------- */
body {
	/*background-image: url('images/accer.png');*/
	background-position: center top;
	background-repeat: no-repeat;
	background-color: #adb4a4;
}

body > * {
	outline: 1px dashed blue;
}

body > * > * {
	outline: 1px dotted red !important;
}

body > * > * * {
	outline: 1px dashed green !important;
}

/* min-height 
-------------------------- */
.header > * * {
	min-height: 65px;
}

div.container div.slideshow {
	min-height: 365px;
}

div.container div.box > * {
	min-height: 120px;
}

div.container div.footer > * {
	min-height: 20px;
}

div.container div.footer > * * {
	min-height: 18px;
}
/* main styles
-------------------------- */

/* header 
-------------------------- */
.header{
	height: 65px;
	text-align: center;
	line-height: 65px;
	z-index: 5;
	position: relative;
}

.search {
	background:#FFF url(images/search_icon.png) no-repeat right center;
	position:absolute;
	bottom:5px; 
	right:15px;
	width: 100px;     /* nemidoonam chera nemishe biad vasat??ba height taghriban 20px?????midooni moshkelam chie???chio yadam rafte???  */
	border:1px solid #CCC;
	margin-top:50px; 
	height: 20px;
}

/* box 
-------------------------- */

.menu-box {
	background:url(images/menu_background.png) no-repeat center center;
	border-radius: 0px 0px 5px 5px;
	height: 65px;
/*	position: absolute;
	top: 0;
	right: 0; */
}

.left-box{
	background:url(images/home_box_background.png) no-repeat center center;
}

.right-box{
	background:url(images/home_box_background.png) no-repeat center center;
}

/* footer 
-------------------------- */
.footer-box {
	background:url(images/green_bar_repeatx.png) repeat-x;
	border-radius: 4px;
}

.left-pic {
	background:url(images/green_bar_sx.png) no-repeat 0 0 !important;
	width: 5px;
}

.right-pic {
	background:url(images/green_bar_dx.png) no-repeat 0 0 !important; 
	width: 5px;
}

.facebook {
	background:url(images/Facebook_icon.png) no-repeat center center;
	width: 16px;
}

.language {
	background:url(images/language_button_repeatx.png) repeat-x 0 0;
	border-radius: 5px;
}

.language-icon {
	background:url(images/language_button_sx.png) no-repeat 0 0;
	width: 25px;
}

.next-icon{
	background:url(images/language_button_dx.png) no-repeat 0 0;
	width: 25px;
}

