/* Guide
-------------------------- */
body {
	//background-image: url('images/product.png');
	background: url('images/background_general_top.jpg') no-repeat top right;

	background-position: center top;
	background-repeat: no-repeat;
	background-color: #000;
}
/*
body > * {
	outline: 1px dashed blue;
}

body > * > * {
	outline: 1px dotted red !important;
}

body > * > * * {
	outline: 1px dashed green !important;
}

/* min-height 
-------------------------- */
header > * * {
	min-height: 65px;
}



div.container section.product-box {
	min-height: 423px;
}

div.container section.box-banner > * {
	min-height: 105px;

}


/* main styles
-------------------------- */

/* header 
-------------------------- */
header{
	height: 65px;
	text-align: center;
	line-height: 65px;
	z-index: 5;
	position: relative;

	div.logo	{
			overflow :hidden;
			width:180px;
			background :url(images/acer_logo_green.png) no-repeat center center;
		h1{
			text-indent      :1000px;
			white-space      :nowrap;
		}
	}

	nav {
		margin-left:180px;
		background:url(images/menu_background.png) no-repeat center center;

		ul {
			list-style-type: none;

			li {
				margin-top:15px;
				float:left;
				position:relative;

				a {
					//background: url(images/menu_separetor.png) no-repeat;
					border-right:2px solid #505050;
					border-radius:2px;
					height: 65px;
					font-size:12px;
					color:#fff;
					text-decoration:none;
					padding:0px 15px 0px 40px;
					line-height:65px;
					text-align:center;
					font-weight:bold;
					text-transform:capitalize;
					-webkit-transition:200ms;
				}

				a:hover{
					color:#6DC01C;
					-webkit-transition:200ms;
				}

				ul {
					margin:0 !important;
					display:none;
					position:absolute;
					top:65px;
					left:0;	
					padding: 10px 10px 0 0;
					width: 165px !important;
					background:url(images/submenu_repeaty.png)  repeat-y right 0;
					

					li{
						margin-top:0px;
						float:none;
						text-align:center;
						width: 140px;

						a{
							border-left:none;
							border-right:none;
							padding: 3px 0 2px 0;
							z-index: 10;
							display:block;
							white-space: normal;
						}
					}

					li:hover{
						ul{
							display:block;
						}
					}
				}
			}

		}
	}
	
}


/* product 
-------------------------- */
section.product-box {
	div.commerical {
		height:37px;

			span {
				height:37px;
				background:url(images/commerical-back.png);

			}

			a {
				font-size:14px;
				color:#343434;
				text-decoration:none;
				font-weight:bold;
				line-height:37px;
				width:170px;
				display:block;
				height:37px;
				background-color:#fff;
				border-radius: 5px 0 0 0;
			}	
	}

	div.product {
		div.list-product{
			height:386px;
			width:180px;

			ul {
				list-style-type: none;
				margin-top:40px;

				li {
					
					a {
						display:block;
						font-size:12px;
						color:#fff;
						text-decoration:none;
						padding:11px 20px;
						text-align:center;
						font-weight:bold;
						text-transform:capitalize;
						-webkit-transition:300ms;
					}

					a:hover{
						font-size:16px;
						color:#6DC01C;
						-webkit-transition:300ms;
					}
				}
			}	
			
		}

		iframe {
			height:386px;
			width:770px;
		}
	}
}

/* box-banner
-------------------------- */
section.box-banner{

	div.banner{
		height: 105px;
		background:url(images/mini-banner-productPage-consumer_clearfi.png) no-repeat center center;
	}
}


/* footer 
-------------------------- */
footer{

	section.footer-box {
			background:url(images/green_bar_repeatx.png) repeat-x;
			border-radius: 4px;
			height:20px;
		div.left-pic {
			background:url(images/green_bar_sx.png) no-repeat 0 0 !important;
			width: 5px;
			height:20px;
		}

		div.language {
				background:url(images/language_button_repeatx.png) repeat-x 0 0;
				border-radius: 5px;
				height:20px;
				width:100px;

			span.language-icon {
				background:url(images/language_button_sx.png) no-repeat 0 0;
				width: 25px;
				height:20px;
				
			}

			span.next-icon{
				background:url(images/language_button_dx.png) no-repeat 0 0;
				height:20px;
			}

			a {
				display:block;
				color:#fff;
				height:20px;
				line-height:20px;
				text-align:center;
				font-size:12px;
				text-decoration:none;
			}
		}

		div.right-pic {
			background:url(images/green_bar_dx.png) no-repeat 0 0 !important; 
			width: 5px;
			height:20px;
		}	

		div.facebook {
			background:url(images/Facebook_icon.png) no-repeat center center;
			width: 16px;
			height:20px;
		}

		nav.footer-menu {
			ul {
					list-style-type: none;
					direction:ltr;
					height:20px;
				li {
					float:left;
					background: url(images/menu_separetor.png) no-repeat;

					a {
						display:block;
						font-size:11px;
						color:#fff;
						text-decoration:none;
						padding:0px 12px;
						text-align:center;
						line-height:20px;
						text-transform:capitalize;
					}
				}
			}
		}
	}

	div.copyright{

		a {
			display: block;
			color:#fff;
			font-size:11px;
			text-decoration: none;
			text-align: center;
			height:20px;
			line-height:20px;
		}
	}
}

