/* Guide
-------------------------- */
body.product {
	//background-image: url('images/product/product.png');
	background: url('images/product/background_general_top.jpg') no-repeat top right;

	background-position: center top;
	background-repeat: no-repeat;
	background-color: #000;
}
/*
body > * {
	outline: 1px dashed blue;
}

body > * > * {
	outline: 1px dotted red !important;
}

body > * > * * {
	outline: 1px dashed green !important;
}


/* main styles
-------------------------- */

/* header 
-------------------------- */
header{
	height: 65px;
	text-align: center;
	line-height: 65px;
	z-index: 5;
	position: relative;

	div.logo	{
			overflow :hidden;
			width:180px;
			background :url(images/product/acer_logo_green.png) no-repeat center center;
		h1{
			text-indent:1000px;
			white-space:nowrap;
		}
	}

	nav.main {
		width:770px; 
		height:65px; 
		background:url(images/product/menu_background.png) no-repeat center center; 
		position:absolute; 
		top:0; 
		right:0;

		ul {
			list-style-type: none;
			margin:0;
			position:absolute; 
			top:0px; 
			left:350px; 
			width:400px;

			li {
				margin-top:15px;
				float:right;
				position:relative;

				a {
					border-left:2px solid #505050;
					border-radius:2px;
					height: 65px;
					font-size:12px;
					color:#fff;
					text-decoration:none;
					padding:0px 15px 0px 40px;
					line-height:65px;
					text-align:center;
					font-weight:bold;
					text-transform:capitalize;
					-webkit-transition:200ms;
				}

				:hover{ //a:hover
					color:#6DC01C;
					-webkit-transition:200ms;
				}

				
			}

		}
	}
	
}


/* product 
-------------------------- */
section.product-box {
	div.commerical {
		height:37px;

			span {
				height:37px;
				background:url(images/product/commerical-back.png);

			}

			a {
				font-size:14px;
				color:#343434;
				text-decoration:none;
				font-weight:bold;
				line-height:37px;
				width:170px;
				display:block;
				height:37px;
				background-color:#fff;
				border-radius: 5px 0 0 0;
			}	
	}

	div.product {
		div.list-product{
			height:386px;
			width:180px;

			ul {
				list-style-type: none;
				margin-top:40px;

				li {
					
					a {
						display:block;
						font-size:14px;
						color:#fff;
						text-decoration:none;
						padding:11px 20px;
						text-align:center;
						font-weight:bold;
						text-transform:capitalize;
						-webkit-transition:300ms;
					}

					a:hover{
						font-size:18px;
						color:#6DC01C;
						-webkit-transition:300ms;
					}

				}
			}	
			
		}

		iframe#view-product {
			height:386px;
			width:770px;
			outline:1px solid #fff;
		}
	}
}

/* box-banner
-------------------------- */
section.box-banner{

	div.banner{
		height: 105px;
		background:url(images/product/mini-banner-productPage-consumer_clearfi.png) no-repeat center center;
	}
}


/* footer 
-------------------------- */
footer{

	section.footer-box {
			background:url(images/product/green_bar_repeatx.png) repeat-x;
			border-radius: 4px;
			height:20px;
		div.left-pic {
			background:url(images/product/green_bar_sx.png) no-repeat 0 0 !important;
			width: 5px;
			height:20px;
		}

		div.language {
				background:url(images/product/language_button_repeatx.png) repeat-x 0 0;
				background:url(images/language_button_repeatx.png) repeat-x 0 0;
				background:url(images/language_button_repeatx.png) repeat-x 0 0;
				border-radius: 5px;
				height:20px;
				width:100px;

			span.language-icon {
				background:url(images/product/language_button_sx.png) no-repeat 0 0;
				width: 25px;
				height:20px;
			}

			span.next-icon{
				background:url(images/product/language_button_dx.png) no-repeat 0 0;
				height:20px;
			}

			a {
				display:block;
				color:#fff;
				height:20px;
				line-height:20px;
				text-align:center;
				font-size:12px;
				text-decoration:none;
			}
		}

		div.right-pic {
			background:url(images/product/green_bar_dx.png) no-repeat 0 0 !important; 
			width: 5px;
			height:20px;
		}	

		div.facebook {
			background:url(images/product/Facebook_icon.png) no-repeat center center;
			width: 16px;
			height:20px;
		}

		nav.footer-menu {
			ul {
					list-style-type: none;
					height:20px;
				li {
					float:right;
					background: url(images/product/menu_separetor.png) no-repeat;

					a {
						font-size:11px;
						color:#fff;
						text-decoration:none;
						padding:0px 12px;
						text-align:center;
						line-height:20px;
						text-transform:capitalize;
						border-left:2px solid #ccc;
						border-radius: 2px;
					}
				}
			}
		}
	}

	div.copyright{

		a {
			display: block;
			color:#fff;
			font-size:11px;
			text-decoration: none;
			text-align: center;
			height:20px;
			line-height:20px;
		}
	}
}

